.horizontal input {
  width: 260px;
}

.batch-part {
  height: 100%;
  overflow: auto;
  display: inline-block;
  margin-right: 10px;
}

.row-selected {
  background-color: #a6e8fc;
}

.btn-orange {
  background: coral;
  color: #fff;
  border: none;
}

.btn-green {
  background: green;
  color: #fff;
  border: none;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background: lightcoral;
  color: #fff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background: rgb(9, 180, 94);
  color: #fff;
}
